@page
@model udemy_web_project_01.Pages.EventMgmt.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].evtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].day1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].day2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].day3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.evtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day3)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
